In [1]:
!gdown --id 1JCuim274hkoXCUjMe4RipKSJj8Q4WeOr

Downloading...
From: https://drive.google.com/uc?id=1JCuim274hkoXCUjMe4RipKSJj8Q4WeOr
To: /content/dataset.csv
4.22MB [00:00, 35.5MB/s]

In [2]:
import numpy as np
import pandas as pd
import os
import sklearn

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("dataset.csv")

In [4]:
df.head()

    var1    var2  var3  var4  var5  ...  var130  var131  var132  var133  var134
0  818.0  1006.0  33.0   0.0   0.0  ...     NaN     NaN     NaN     NaN       0
1    NaN    20.0   6.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
2    NaN   600.0  18.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
3    NaN   710.0  26.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
4    NaN  1270.0   1.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0

[5 rows x 135 columns]

numerical cols: var1-var3, var70-var-103, var104  
categorical cols: var4-69, var105-134

# Data PreProcessing

**Numerical Data**

In [5]:
# creating new df
df1 = pd.DataFrame()
# place numerical cols then categorical cols
df1 = df1.append(df.loc[:, "var1":"var3"])
df1 = df1.join(df.loc[:, 'var70':'var103'])
df1 = df1.join(df.loc[:, 'var104'])

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(df1)
df1 = pd.DataFrame(X, columns = df1.columns)

In [7]:
df1.head()

       var1      var2      var3  ...    var102    var103    var104
0  0.114228  0.183307 -0.107873  ...  0.284345 -0.228838  1.007141
1       NaN -0.345216 -0.381245  ... -0.709438 -0.502493 -0.324492
2       NaN -0.034320 -0.259747  ...  0.260185 -0.186328  3.027272
3       NaN  0.024643 -0.178748  ... -0.588638 -0.325813  1.482815
4       NaN  0.324818 -0.431870  ... -0.574142 -0.150461  0.293206

[5 rows x 38 columns]

In [8]:
df1.shape

(14043, 38)

In [9]:
df1.isnull().sum()

var1      1403
var2      1067
var3      1469
var70        0
var71        0
var72        0
var73        0
var74        0
var75        0
var76        0
var77        0
var78        0
var79        0
var80        0
var81        0
var82        0
var83        0
var84        0
var85        0
var86        0
var87        0
var88        0
var89        0
var90        0
var91        0
var92        0
var93        0
var94        0
var95        0
var96        0
var97        0
var98        0
var99        0
var100       0
var101       0
var102       0
var103       0
var104       0
dtype: int64

In [10]:
# Precision(PPV) decreases
# del df1['var1']
# del df1['var2']
# del df1['var3']

In [11]:
# handling missing values for continuous features
# replacing them with mean
for i in range(0, len(list(df1))):
  df1.iloc[:,i] = df1.iloc[:,i].replace(np.NaN, df1.iloc[:,i].mean())

In [12]:
df1.head()

           var1      var2      var3  ...    var102    var103    var104
0  1.142280e-01  0.183307 -0.107873  ...  0.284345 -0.228838  1.007141
1  1.160288e-16 -0.345216 -0.381245  ... -0.709438 -0.502493 -0.324492
2  1.160288e-16 -0.034320 -0.259747  ...  0.260185 -0.186328  3.027272
3  1.160288e-16  0.024643 -0.178748  ... -0.588638 -0.325813  1.482815
4  1.160288e-16  0.324818 -0.431870  ... -0.574142 -0.150461  0.293206

[5 rows x 38 columns]

In [13]:
# df1.info()

**Checking correlation of numerical variables**

In [14]:
df1_corr = df1.copy()

In [15]:
df1_corr['trialOutcomes'] = df['trialOutcomes'].values

In [16]:
df1_corr.shape

(14043, 39)

In [17]:
corr_matrix = df1_corr.corr()

In [18]:
corr_matrix['trialOutcomes'].sort_values(ascending=False)

trialOutcomes    1.000000
var102           0.139761
var101           0.138778
var78            0.133901
var100           0.133762
var93            0.119849
var83            0.115892
var72            0.114303
var74            0.112233
var79            0.111771
var70            0.106974
var73            0.105796
var77            0.104869
var76            0.103344
var98            0.092133
var84            0.089156
var87            0.076473
var80            0.075856
var103           0.068614
var91            0.066107
var81            0.051347
var92            0.051305
var71            0.049083
var89            0.048058
var96            0.040311
var75            0.038546
var94            0.036806
var85            0.036570
var1             0.035023
var82            0.033978
var88            0.033342
var86            0.032176
var90            0.022062
var2             0.018932
var3             0.018822
var99            0.015509
var95            0.013031
var97           -0.003024
var104          -0.124731
Name: trialOutcomes, dtype: float64

In [19]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif, chi2, mutual_info_classif

fs = SelectKBest(score_func=mutual_info_classif, k=10)
X_selected = fs.fit_transform(df1, df['trialOutcomes'].values.ravel())

In [20]:
X_selected.shape

(14043, 10)

In [21]:
X_selected

array([[ 1.14228031e-01, -1.82356079e-01, -1.36688168e-01, ...,
        -8.26306310e-01, -8.60621104e-01,  2.84345198e-01],
       [ 1.16028846e-16, -2.67994295e-01, -2.83250324e-01, ...,
        -8.22621992e-01, -8.54380900e-01, -7.09438417e-01],
       [ 1.16028846e-16, -2.44937852e-01, -2.70642827e-01, ...,
        -8.26306310e-01, -8.59373063e-01,  2.60185142e-01],
       ...,
       [-3.03934266e-01, -2.69641184e-01, -2.83250324e-01, ...,
        -8.26306310e-01, -8.60621104e-01, -7.41651825e-01],
       [-2.42374564e-01, -2.69641184e-01, -2.83250324e-01, ...,
        -8.26306310e-01, -8.60621104e-01, -7.41651825e-01],
       [-3.36655188e-01, -1.92237411e-01, -2.50155644e-01, ...,
        -8.26306310e-01, -8.60621104e-01, -2.06909264e-01]])

In [22]:
df1 = pd.DataFrame(X_selected)

In [23]:
df1.shape

(14043, 10)

In [24]:
df1.head()

              0         1         2  ...         7         8         9
0  1.142280e-01 -0.182356 -0.136688  ... -0.826306 -0.860621  0.284345
1  1.160288e-16 -0.267994 -0.283250  ... -0.822622 -0.854381 -0.709438
2  1.160288e-16 -0.244938 -0.270643  ... -0.826306 -0.859373  0.260185
3  1.160288e-16 -0.254819 -0.283250  ...  1.173910  1.157461 -0.588638
4  1.160288e-16 -0.251525 -0.280098  ...  1.428128  1.392093 -0.574142

[5 rows x 10 columns]

**Apply PCA**

In [25]:
# from sklearn.decomposition import PCA

# pca = PCA(.95)
# pca.fit(df1)

In [26]:
# X = pca.transform(df1)

In [27]:
# pca.explained_variance_ratio_

In [28]:
# X.shape

In [29]:
# X[:,:2].shape

In [30]:
# df1 = pd.DataFrame(X[:,:2], columns = ['principalComponent1', 'principalComponent2'])

In [31]:
# df1.head()

**Cheking sklearn imputer for handling missing values of numerical data**

In [32]:
# creating new df
df1_copy = pd.DataFrame()
# place numerical cols then categorical cols
df1_copy = df1_copy.append(df.loc[:, "var1":"var3"])
df1_copy = df1_copy.join(df.loc[:, 'var70':'var103'])
df1_copy = df1_copy.join(df.loc[:, 'var104'])

In [33]:
from sklearn.impute import SimpleImputer

imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit(df1_copy)
X = imp_mean.transform(df1_copy)

In [34]:
df1_copy = pd.DataFrame(X, columns = df1_copy.columns)

In [35]:
df1_copy.tail()

             var1        var2       var3  var70  ...  var101  var102  var103  var104
14038  612.032278   60.000000   1.000000    0.0  ...     0.0    28.0     7.0    7.03
14039   41.000000   41.000000  43.654287    0.0  ...     0.0     0.0     0.0    4.70
14040   64.000000  664.026896  43.654287    0.0  ...     0.0     0.0     0.0   54.97
14041  175.000000  175.000000   1.000000    0.0  ...     0.0     0.0     0.0    5.09
14042    5.000000  664.026896   8.000000    0.0  ...     0.0   332.0   234.0   10.78

[5 rows x 38 columns]

**Categorical data**

In [36]:
df2 = pd.DataFrame()
# place numerical cols then categorical cols
df2 = df2.append(df.loc[:, "var4":"var69"])
df2 = df2.join(df.loc[:, 'var105':'var134'])

In [37]:
df2.shape

(14043, 96)

In [38]:
df2.head()

   var4  var5  var6  var7  var8  ...  var130  var131  var132  var133  var134
0   0.0   0.0   0.0   0.0   0.0  ...     NaN     NaN     NaN     NaN       0
1   0.0   0.0   0.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
2   0.0   0.0   0.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
3   0.0   0.0   0.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
4   0.0   0.0   0.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0

[5 rows x 96 columns]

In [39]:
#dropping rows with missing values
# df2.dropna(inplace=True)

In [40]:
df2.shape

(14043, 96)

problem arises at the time of joining with numerical data  
so we join it with df1 first then we drop the categorical missing value rows

Merging df2 with df1

In [41]:
df1 = df1.join(df2)
df1 = df1.join(df[['trialOutcomes']])

In [42]:
df1.head()

              0         1         2  ...  var133  var134  trialOutcomes
0  1.142280e-01 -0.182356 -0.136688  ...     NaN       0              0
1  1.160288e-16 -0.267994 -0.283250  ...     0.0       0              0
2  1.160288e-16 -0.244938 -0.270643  ...     0.0       0              0
3  1.160288e-16 -0.254819 -0.283250  ...     0.0       0              0
4  1.160288e-16 -0.251525 -0.280098  ...     0.0       0              0

[5 rows x 107 columns]

In [43]:
# we drop the rows of missing categorical data
df_dropped = df1.dropna(axis=0)

In [44]:
df1.shape

(14043, 107)

In [45]:
df_dropped.shape

(4192, 107)

**Replacing categorical missing values with mode**

In [46]:
# Not worthy, poor results
from sklearn.impute import SimpleImputer

imp_mean = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp_mean.fit(df1)
X = imp_mean.transform(df1)

In [47]:
df1_catMode = pd.DataFrame(X, columns = df1.columns)

In [48]:
df1_catMode.shape

(14043, 107)

## TrainTestSplit
The Continuous missing  values are replaced by mean whereas the categorical missing values are dropped

In [49]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(df_dropped, df_dropped['trialOutcomes']):
    strat_train_set = df_dropped.iloc[train_index]
    strat_test_set = df_dropped.iloc[test_index]

In [50]:
strat_train_set

                  0         1         2  ...  var133  var134  trialOutcomes
4097   1.160288e-16 -0.235057 -0.245428  ...     0.0       0              0
13224  4.586296e-01 -0.146125  0.109158  ...     0.0       0              0
1359   1.160288e-16 -0.267994 -0.281674  ...     0.0       0              0
9655  -2.701042e-01 -0.123068  0.161164  ...     0.0       0              1
4740  -2.956154e-01 -0.261407 -0.283250  ...     0.0       0              1
...             ...       ...       ...  ...     ...     ...            ...
6690  -8.986179e-02  6.953613  4.611610  ...     0.0       1              1
2439   6.098721e-02 -0.264701 -0.270643  ...     0.0       0              0
6330  -4.882199e-02 -0.216941 -0.119353  ...     0.0       0              1
3693   2.200466e-03 -0.025902  0.137525  ...     0.0       0              1
4841  -1.469848e-01 -0.253172 -0.251732  ...     0.0       0              1

[3353 rows x 107 columns]

In [51]:
# % of instances of each class
strat_train_set["trialOutcomes"].value_counts() / len(strat_train_set)

1    0.639726
0    0.360274
Name: trialOutcomes, dtype: float64

In [52]:
# % of instances of each class
strat_test_set["trialOutcomes"].value_counts() / len(strat_test_set)

1    0.640048
0    0.359952
Name: trialOutcomes, dtype: float64

In [53]:
X_train = strat_train_set.copy()
X_test = strat_test_set.copy()
del X_train['trialOutcomes']
del X_test['trialOutcomes']

In [54]:
y_train = strat_train_set[['trialOutcomes']].copy()
y_test = strat_test_set[['trialOutcomes']].copy()

# Model Fitting

**Logistic Regression**

In [55]:
from sklearn.linear_model import LogisticRegression

log_clf = LogisticRegression(solver='saga', random_state=42)
log_clf.fit(X_train, y_train.values.ravel())

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='saga', tol=0.0001, verbose=0,
                   warm_start=False)

In [56]:
y_pred = log_clf.predict(X_test)

In [57]:
from sklearn.metrics import f1_score

f1_score(y_test, y_pred)

0.7774891774891775

In [58]:
from sklearn.metrics import precision_score

precision_score(y_test, y_pred)

0.7265372168284789

**KNN Classifier**

In [59]:
from sklearn.neighbors import KNeighborsClassifier

knn_clf = KNeighborsClassifier(weights='distance', n_neighbors=30)
knn_clf.fit(X_train, y_train.values.ravel())

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=30, p=2,
                     weights='distance')

In [60]:
y_pred = knn_clf.predict(X_test)

In [61]:
f1_score(y_test, y_pred)

0.7818930041152263

In [62]:
precision_score(y_test, y_pred)

0.700589970501475

**SVC**

In [63]:
from sklearn.svm import LinearSVC

svc = LinearSVC(C=0.1, max_iter=10000)
svc.fit(X_train, y_train.values.ravel())

LinearSVC(C=0.1, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=10000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [64]:
y_pred = svc.predict(X_test)

In [65]:
f1_score(y_test, y_pred)

0.7722602739726027

In [66]:
precision_score(y_test, y_pred)

0.7147385103011094

**Multi-layer Perceptron**

In [67]:
param_space = {
    'activation': ['logistic'],
    'solver': ['sgd'],
    'random_state': [1],
    'max_iter': [5000],
    'learning_rate_init': [0.4, 0.1, 0.01],
    'hidden_layer_sizes': [(128,64), (64), (64,32), (32)]
}

In [68]:
# Multi-layer Perceptron
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV

mlp = MLPClassifier()
mlp_clf = GridSearchCV(mlp, param_space, n_jobs=-1, cv=3)
mlp_clf.fit(X_train, y_train.values.ravel())

GridSearchCV(cv=3, error_score=nan,
             estimator=MLPClassifier(activation='relu', alpha=0.0001,
                                     batch_size='auto', beta_1=0.9,
                                     beta_2=0.999, early_stopping=False,
                                     epsilon=1e-08, hidden_layer_sizes=(100,),
                                     learning_rate='constant',
                                     learning_rate_init=0.001, max_fun=15000,
                                     max_iter=200, momentum=0.9,
                                     n_iter_no_change=10,
                                     nesterovs_momentum=True, power_t=0.5,
                                     random_state...
                                     solver='adam', tol=0.0001,
                                     validation_fraction=0.1, verbose=False,
                                     warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'activation': ['logistic'],
                         'hidden_layer_sizes': [(128, 64), 64, (64, 32), 32],
                         'learning_rate_init': [0.4, 0.1, 0.01],
                         'max_iter': [5000], 'random_state': [1],
                         'solver': ['sgd']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [69]:
y_pred = mlp_clf.predict(X_test)

In [70]:
f1_score(y_test, y_pred)

0.7685185185185186

In [71]:
precision_score(y_test, y_pred)

0.7642725598526704

**Random Forest**

In [72]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=42)
rf.fit(X_train, y_train.values.ravel())

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [73]:
y_pred = rf.predict(X_test)

In [74]:
f1_score(y_test, y_pred)

0.803122289679098

In [75]:
precision_score(y_test, y_pred)

0.7516233766233766

In [76]:
# % of instances of each class
y_pred_df = pd.DataFrame(y_pred, columns = ["trialOutcomes"])
y_pred_df["trialOutcomes"].value_counts() / len(strat_test_set)

1    0.734207
0    0.265793
Name: trialOutcomes, dtype: float64

**Random Forest using Grid Search**

In [77]:
rfc = RandomForestClassifier(random_state=42)

In [78]:
param_grid = { 
    'n_estimators': [200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8, 20],
    'criterion' : ['gini', 'entropy']
}

In [79]:
from sklearn.model_selection import GridSearchCV

CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv = 5)
CV_rfc.fit(X_train, y_train.values.ravel())

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=42,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 5, 6, 7, 8, 20],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [200, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [80]:
CV_rfc.best_params_

{'criterion': 'gini',
 'max_depth': 20,
 'max_features': 'auto',
 'n_estimators': 200}

In [81]:
y_pred = rf.predict(X_test)

In [82]:
f1_score(y_test, y_pred)

0.803122289679098

In [83]:
precision_score(y_test, y_pred)

0.7516233766233766

**Ada Boost Classifier**

In [84]:
from sklearn.ensemble import AdaBoostClassifier

ada = AdaBoostClassifier(n_estimators=100, random_state=0)
ada.fit(X_train, y_train.values.ravel())

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=100, random_state=0)

In [85]:
y_pred = ada.predict(X_test)

In [86]:
f1_score(y_test, y_pred)

0.8024158757549611

In [87]:
precision_score(y_test, y_pred)

0.747588424437299

In [88]:
# % of instances of each class
y_pred_df = pd.DataFrame(y_pred, columns = ["trialOutcomes"])
y_pred_df["trialOutcomes"].value_counts() / len(strat_test_set)

1    0.741359
0    0.258641
Name: trialOutcomes, dtype: float64

**QuadraticDiscriminantAnalysis**

In [89]:
# from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

# clf = QuadraticDiscriminantAnalysis()
# clf.fit(X_train, y_train.values.ravel())

In [90]:
# y_pred = clf.predict(X_test)

In [91]:
# f1_score(y_test, y_pred)

In [92]:
# precision_score(y_test, y_pred)

**Playing with Probabilities**

In [93]:
y_pred_proba = rf.predict_proba(X_test)

In [94]:
# y_pred_proba[:10]

In [95]:
# y_pred[:10]

**custom function for classifying according my threshold**  
if prob of class 1 is > 0.7, it is positive  
                      > 0.5, it is unknown  
                      < 0.5, it is negative

In [96]:
# y_pred_proba[:10,1]

In [97]:
# len(y_pred_proba[:,1])

In [98]:
def assignClass(probs, r1, r2):
  y_class = []
  for i in range(len(probs[:,1])):
    if probs[i,1] >= r1:
      y_class.append(1)
    elif probs[i,1] < r1 and probs[i,1] >= r2:
      y_class.append('UNKNOWN')
    else:
      y_class.append(0)
  return y_class

In [99]:
def calcPositives(y_hat, y_true):
  tp = 0
  fp = 0
  fn = 0
  for i in range(len(y_true)):
    if (y_hat[i] == 1) & (y_true.iloc[i,0] == 1):
      tp += 1
    elif (y_hat[i] == 1) & (y_true.iloc[i,0] == 0):
      fp += 1
    elif (y_hat[i] == 0) & (y_true.iloc[i,0] == 1):
      fn += 1
  return tp, fp, fn

In [100]:
def calcPrecision(tp, fp):
  return tp / (tp + fp)

In [101]:
def calcAccuracy(y_hat):
  unknown = 0 
  for i in range(len(y_hat)):
    if y_hat[i] != 1 and y_hat[i] != 0:
      unknown += 1
  return (1 - (unknown / len(y_hat))), unknown

In [102]:
y_pred_class = []
y_pred_class = assignClass(y_pred_proba, 0.79, 0.68)

In [103]:
accuracy, unknowns = calcAccuracy(y_pred_class)
print("Accuracy: ", accuracy)

Accuracy:  0.7842669845053636

In [104]:
unknowns

181

In [105]:
tp, fp, fn = calcPositives(y_pred_class, y_test)

In [106]:
tp

215

In [107]:
fp

29

In [108]:
precision = calcPrecision(tp, fp)
print("Precision: ", precision)

Precision:  0.8811475409836066

In [109]:
f1 = tp / (tp + (0.5 * (fp + fn)))
print("f1-score: ", f1)

f1-score:  0.6666666666666666

In [110]:
# % of instances of each class
y_pred_df = pd.DataFrame(y_pred_class, columns = ["trialOutcomes"])
y_pred_df["trialOutcomes"].value_counts() / len(strat_test_set)

0          0.493445
1          0.290822
UNKNOWN    0.215733
Name: trialOutcomes, dtype: float64

**how about we drop the categorical variable cols with missing values**  
or impute them with mode